$dark: #112158;
$primary: #00f957;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.15;
}

body {
  height: 100svh;
  background: $dark;
  color: white;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  user-select: none;
  margin: 0 auto;
}

#root{
  width: 100%;
  height: 100%;
}
.main-layout{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  header{

  }
  main{
    height: 100%;
    padding: 0 20px;
  }
  footer{

  }
}